services:
  db:
    image: mysql:8.0
    container_name: bes_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: thriftstore_products
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20

  app:
    build: .
    container_name: bes_app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: "3306"
      DB_NAME: thriftstore_products
      DB_USER: appuser
      DB_PASS: apppass
    ports:
      - "8081:8080"

volumes:
  db_data:
